<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title class="translate" data-langpl="Utwórz Rezerwację" data-langen="Create Booking">Create Booking</title>
</head>

<body>
    <nav>
        <a href="/booking_list/" class="translate" data-langpl="Lista Rezerwacji" data-langen="Bookings List">Bookings List</a>
        <a href="/booking_create/" class="translate" data-langpl="Utwórz Rezerwację" data-langen="Create Booking">Create Booking</a>
    </nav>

    <div class="box-content">
        <h2 class="translate" data-langpl="Utwórz Rezerwację" data-langen="Create Booking">Create Booking</h2>

        <form method="post" onsubmit="showLoading()">
            {% csrf_token %}
            <label for="name" class="translate" data-langpl="Imię:" data-langen="Name:">Name:</label>
            <input type="text" name="name" required>
            <br>

            <label for="room" class="translate" data-langpl="Pokój:" data-langen="Room:">Room:</label>
            <input type="text" name="room" required>
            <br>

            <label for="details" class="translate" data-langpl="Szczegóły:" data-langen="Details:">Details:</label>
            <textarea name="details" required></textarea>
            <br>

            <button type="submit" class="translate" data-langpl="Utwórz Rezerwację" data-langen="Create Booking">Create Booking</button>
        </form>
    </div>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>

    <footer>
        <p class="translate" data-langpl="&copy; 2023 stasiekq" data-langen="&copy; 2023 stasiekq">&copy; 2023 stasiekq</p>

        <button class="lang-switch" data-lang="pl">PL</button>
        <button class="lang-switch" data-lang="en">EN</button>

        <div class="toggle-container">
            <p class="translate" data-langpl="Tryb ciemny" data-langen="Dark Mode">Dark Mode</p>
            <input type="checkbox" id="dark-mode-toggle">
        </div>
    </footer>

    <script>
        function showLoading() {
            document.getElementById("loadingOverlay").style.display = "flex";
            setTimeout(function () {
                document.getElementById("loadingOverlay").style.display = "none";
            }, 2000);
        }
    </script>
</body>

</html>
