<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style-list.css' %}">
    <title class="translate" data-langpl="Lista Rezerwacji" data-langen="Bookings List">Bookings List</title>
    <style>
      
    </style>
</head>

<body>
    <nav>
        <a href="/booking_list/" class="translate" data-langpl="Lista Rezerwacji" data-langen="Bookings List">Bookings List</a>
        <a href="/booking_create/" class="translate" data-langpl="Dodaj Rezerwację" data-langen="Create Booking">Create Booking</a>
        <a href="https://google.com/" class="translate" data-langpl="Google" data-langen="Google">Google</a>
        <a href="https://www.ismycomputeronfire.com/" class="translate" data-langpl="Status Serwera" data-langen="Server Status">Server Status</a>
        <a href="/home_pimp" class="translate" data-langpl="Home (pimp)" data-langen="Home (pimp)">Home (pimp)</a>
        <a href="/" class="translate" data-langpl="Home" data-langen="Home">Home</a>
    </nav>

    <table>
        <tr class="sticky-header">
            <th class="translate" data-langpl="Imię" data-langen="Name">Name</th>
            <th class="translate" data-langpl="Pokój" data-langen="Room">Room</th>
            <th class="translate" data-langpl="Szczegóły" data-langen="Details">Details</th>
            <th class="translate" data-langpl="Akcje" data-langen="Actions">Actions</th>
        </tr>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.name }}</td>
                <td>{{ booking.room }}</td>
                <td>{{ booking.details }}</td>
                <td>
                    <a href="/booking_details/{{ booking.id }}" class="translate" data-langpl="Szczegóły" data-langen="View">View</a>
                    <a href="/booking_update/{{ booking.id }}" class="translate" data-langpl="Aktualizuj" data-langen="Update">Update</a>
                    <a href="/booking_delete/{{ booking.id }}" class="translate" data-langpl="Usuń" data-langen="Delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <footer>
        <p class="translate" data-langpl="&copy; 2023 stasiekq" data-langen="&copy; 2023 stasiekq">&copy; 2023 stasiekq</p>
      
        <button class="lang-switch" data-lang="pl">PL</button>
        <button class="lang-switch" data-lang="en">EN</button>
      
        <div class="toggle-container">
            <p class="translate" data-langpl="Tryb ciemny" data-langen="Dark Mode">Dark Mode</p>
            <input type="checkbox" id="dark-mode-toggle">
        </div>
    </footer>

</body>

</html>
