<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style-details.css' %}">
    <title class="translate" data-langpl="Szczegóły Rezerwacji" data-langen="Booking Details">Booking Details</title>
</head>

<body>
    <nav>
        <a href="/booking_list/" class="translate" data-langpl="Lista Rezerwacji" data-langen="Bookings List">Bookings List</a>
        <a href="/booking_create/" class="translate" data-langpl="Dodaj Rezerwację" data-langen="Create Booking">Create Booking</a>
    </nav>

    <h2 class="translate" data-langpl="Szczegóły Rezerwacji" data-langen="Booking Details">Booking Details</h2>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ booking.id }}</td>
        </tr>
        <tr>
            <th class="translate" data-langpl="Imię" data-langen="Name">Name</th>
            <td>{{ booking.name }}</td>
        </tr>
        <tr>
            <th class="translate" data-langpl="Pokój" data-langen="Room">Room</th>
            <td>{{ booking.room }}</td>
        </tr>
        <tr>
            <th class="translate" data-langpl="Szczegóły" data-langen="Details">Details</th>
            <td>{{ booking.details }}</td>
        </tr>
    </table>
    <button onclick="window.location.href='/booking_update/{{ booking.id }}/'" class="translate yes" data-langpl="Aktualizuj" data-langen="Update">Update</button>
    <button onclick="window.location.href='/booking_delete/{{ booking.id }}/'" class="translate no" data-langpl="Usuń" data-langen="Delete">Delete</button>

    <button onclick="window.location.href='/booking_list/'" class="translate" data-langpl="Powrót" data-langen="Back">Back</button>

    <footer>
        <p class="translate" data-langpl="&copy; 2023 stasiekq" data-langen="&copy; 2023 stasiekq">&copy; 2023 stasiekq</p>

        <button class="lang-switch" data-lang="pl">PL</button>
        <button class="lang-switch" data-lang="en">EN</button>

        <div class="toggle-container">
            <p class="translate" data-langpl="Tryb ciemny" data-langen="Dark Mode">Dark Mode</p>
            <input type="checkbox" id="dark-mode-toggle">
        </div>
    </footer>

</body>

</html>
